.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background: rgb(134, 15, 15);
  color: white;

  .title {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  .searchbar {
    width: 50%;
  }
}
